@import "tailwindcss";

:root {
  --font-archivo: 'Archivo', sans-serif;
  --font-borel: 'Borel', cursive;
  --font-ptsans: 'PT Sans', sans-serif;
  --font-commissioner: 'Commissioner', sans-serif;
  --background: #FAFAFA;
}

body {
  /* font-family: var(--font-ptsans), sans-serif; */
  background-color: var(--background);
}